.circle {
    border-style: solid;
    border-color: #CC0033;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.countdown {
    color: #CC0033;
    font-size: 25px;
    position: absolute;
    margin-top: 0.95cm;
    margin-left: 0.6cm;
}

.labelFin {
    margin-left: 3cm;
    margin-top: -1cm;
}